/*
Style Sheet for Preach Jesus Christ ministries	  
*/

* { padding: 0; margin: 0; }

body {
 clear: both;
 background: #000;
 font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
 background: #fff; 
 margin: 110px auto 40px auto;
 width: 800px;
 height: auto;
 padding: 0;
 border-bottom: 1px solid #fff;
 -moz-border-radius-bottomright: 30px;
 -moz-border-radius-bottomleft: 30px;
 -webkit-border-bottom-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
}
#header {
 color: #333;
 width: 802px;
 float: left;
 padding: 2px;
 margin-top: -109px;
 border-bottom: 1px solid #000;
 margin-left: -3px;
 background: #fff;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}
#header img {
width: 802px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
 }
#navigation {
 float: left;
 width: 680px;
 height: 80px;
 color: #000;
 font-size: 11pt;
 padding: 0 0 0 20px;
 border: 0;
 margin: 10px 50px 0px 50px;
 background: #FAE898;
-moz-border-radius-topleft: 30px;
-moz-border-radius-topright: 30px;
-webkit-border-top-left-radius: 30px;
-webkit-border-top-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
#navigation ul {
    margin:0 auto 0 auto;
    padding: 15px 0 15px 30px;
}
#navigation ul li
{
    list-style-type: none;
    display: inline;
}
#navigation li:before {
content: " | ";
}
#navigation li:first-child:before {
content: none;
}

/* Left Sidebar */
#leftcolumn { 
 color: #333;
 border: 0;
 background: #FAE898;
 margin: 0px 0px 0px 50px;
 padding: 0 0 0 5px;
 height: 650px;
 width: 160px;
 float: left;
}

/* Main Content */
#rightcolumn { 
 float: right;
 color: #000;
 border: 0;
 background: #fff;
 margin: 0px 50px 0px 0px;
 padding: 0;
 height: auto;
 width: 530px;
 display: inline;
}
table {
  position: relative;
  width: 525px;
  background: 0;
  margin: 0 10px 0 0;
  padding: 10px 0 0 0;
 }
 
.table-head {
 min-width: 530px;
}

.table-section1 {
 min-width: 200px;
 max-height: 200px;
 float: left;
 padding: 40px 0 0 0;
}

.table-section2 {
 min-width: 300px;
 max-height: 280px;
 float: right;
 margin-top: 30px;
 padding: 0;
}
#footer { 
 position: relative;
 width: 750px;
 height: 40px;
 clear: both;
 color: #000;
 border-top: 1px solid #000;
 background: #fff;
 margin: 0 24px 0 24px;
 padding: 5px 0 1px 0;
 text-align: center;
}
a {
 text-decoration: none;
 color: #000;
}
/* This section for decorative tab */
ul#tabs{
    float:left;
	margin-left: 115px;
	margin-top: -10px;
    list-style:none;
}
ul#tabs a {
    height: 672px;
	width: 110px;
    display: block;
    float: left;
    color: #000;
    font-weight: bold;
	font-size: 14pt;
    position: relative;
    background:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
	box-shadow: -4px 0 1px #575757;
}
ul#tabs a span {
    content: '';
    z-index: 1;
    position: absolute;
    height: 31px;
    width: 30px;
    overflow:hidden;
    right:-30px;
    top:0;
}
ul#tabs a span:after {
    content: '';
    z-index: 1;
    position: absolute;
    margin-left: -10px;
    margin-top:-13px;
    height: 32px;
    width: 30px;
    background: transparent;
    border: solid 10px #fff;
    border-bottom-left-radius: 30px;
}
/***** RSS BOX *****/
#rss-table {

}

#rss-box {

}
.rss-title {
font-size: 11.5px;
}
 .rss-h2 {
text-decoration: underline;
font-size: 10px;
margin-top: 5px;
}
.content {
font-size: 9px;
}
.underline {
text-decoration: underline;
}
.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}